<h1>  The Artists on Billboard <%=@billboard.name %> </h1>
<div class="ui ordered list">
  <% @artists.each do |artist| %>
    <div class="item"> 
    <h4 class="ui header">
    <%= link_to artist.name, artist%>
    </h4>
    </div>
  <% end %>
</div>

