<h1>  The Songs on Billboard <%=@billboard.name %> </h1>
<div class="ui bulleted list">
  <% @songs.each do |song| %>
    <div class="item"> 
    <h4 class="ui header">
    <%= link_to song.name, song%>
    </h4>
    </div>
  <% end %>
</div>