<h1 class="ui teal header">Billboards</h1>
  <%= link_to 'New Billboard', new_billboard_path %>
<div class="ui divider"></div>

<div class="ui grid">
  <% @billboards.each do |billboard| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="http://www.musingonmusic.com/wp-content/uploads/2013/07/Billboard-Top-100-Songs-All-Time.jpg"<%= billboard.name %>" />
        </div>
        <div class="content">
        <%= link_to "#{billboard.name}", billboard_path(billboard.id), class:"header" %>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="basic red button">
            <%= link_to 'Delete', billboard_path(billboard.id), method: :delete, data: {confirm: 'Are you sure?'}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>