<h1 class="ui blue header">Create a new billboard </h1>
<%= form_for @billboard do |f| %>
 <%= f.label :name_of_billboard %>
 <%= f.text_field :name, required: true %>
 <%= f.submit "Submit" %>
 <% end %>
